$primary: #2ecc71;
$secondary: #2277B0;
$light: #cdcdcd;
$body:#FFFFFF;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif:"Roboto", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";