@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


html {
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make the body at least the height of the viewport */
}

.my-toggler-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(46 203 113)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
  }

.navbar-toggler {
  border-color: #2ecc71;
}

/**
 * Couleurs du menu seul, hover et actif
 */
#top-menu a{
    color: $primary;
}
#top-menu a:hover{
    font-weight:bold;
}
.link-menu-active{
    font-weight:bold;
}

main {
  margin-bottom: 60px;
  flex-grow: 1; /* Allow main to take up remaining space */
  padding-top: 101px; /* Add padding to prevent content from being hidden behind the header */
}

a.header {
  font-size: 30px;
}

footer.footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p {
  font-family: $font-family-serif;
  font-size:18px;
}


.hero-scene{
  position: relative;
  &::before{
      content:"";
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-image: url(../images/FondHeroScene.jpg);
      background-size: cover;
      filter: brightness(0.3);
  }

  *{
      //Positionner les éléments devant le ::before
      position:relative;
  }

  .hero-scene-content{
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}

.container {
  min-width: 100%;
}

.img-introduction {
  padding:4px;
  text-align: center;
  // Remove float: left;
  max-height: 100%;
  margin:5px 10px 15px;
  display:block;
  // Add a max-width to the image
  max-width: 200px;
}

// Add styles for the container
.container.bg-secondary-subtle {
  //display: flex; // Remove this line
  //flex-wrap: wrap; // Remove this line
  //align-items: center; // Remove this line
  //justify-content: center; // Remove this line
  padding: 15px; // Add padding to the container
}

// Add styles for the paragraph
.container.bg-secondary-subtle p {
  //flex: 1 1 auto; // Remove this line
  text-align: justify; // Justify the text
}